.btn-secondary {
  background-color: #fd7e14 !important; 
  border-color: #fd7e14 !important;
  color: #fff !important;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #e8590c !important; 
  border-color: #e8590c !important;
  color: #fff !important;
}

.bg-secondary {
  background-color: #fd7e14 !important;
  border-color: #fd7e14 !important;
  color: #fff !important;
}

.bg-yellow {
  background-color: #ffc107 !important; 
  color: #212529 !important; 
}

body {
  padding-top: 60px;
}